.Lista{

background-color: blue;

}
.Lista2{
background-color: crimson;

}
.Telas{
    padding-left: 5%;
    padding-top: 5%;
    padding-right: 5%;
    padding-bottom: 5%;

    width: 30%;
      
    
    }
    .TelaBandeira{
        float:left;
        padding: 5%;
    
    }

    