.Texto{
text-align: center;
float: right;

}
.Bandeira{
background-color: darkgreen;
border-radius: 50%;

width: 200px;

}
.Telas{
float: left;
padding-left: 10%;
width: 50%;


}

.TelaBandeira{
    float:left ;
   padding: 10px;
    overflow: hidden;

}
.TelaTexto{
float: right;
padding: 10px;
overflow: hidden;

}

